<p>
  <strong>Description:</strong>
  <%= meal.description %>
</p>
<p>
  <strong>Calories:</strong>
  <%= meal.calories %>
</p>
<p>
  <strong>Serving Size:</strong>
  <%= meal.serving_size %>
</p>
<p>
  <strong>Category:</strong>
  <%= meal.color %>
</p>
