// Place all the styles related to the Days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  text-align: center;
  font-family: externalFont;
  color: white;
  background-color: #99b3ff;
  height: 100px;
  width: auto;
  margin: 0px;
}

.navbar{
  text-align: center;
}

#green {
  font-family: 'Galada', cursive;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  height: 100px;
  background-color: green;
  color: white;
}

#yellow {
  font-family: 'Galada', cursive;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  height: 100px;
  background-color: yellow;
  color: black;
}

#red {
  font-family: 'Galada', cursive;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  height: 100px;
  background-color: red;
  color: white;
}

#green2 {
  font-size: 10px;
  line-height: 100px;
  text-align: center;
  height: 400px;
  background-color: green;
  color: white;
}

#green2 p {
  font-size: 15px;
}

.healthy {
  font-size: 15px;
  text-align: left;
}

#yellow2 p {
  font-size: 15px;
}


#yellow2 {
  font-size: 10px;
  line-height: 100px;
  text-align: center;
  height: 400px;
  background-color: yellow;
  color: black;
}

.good {
  font-size: 15px;
  text-align: left;
}

#red2 {
  font-size: 10px;
  line-height: 100px;
  text-align: center;
  height: 400px;
  background-color: red;
  color: white;
}

.bad {
  font-size: 15px;
  text-align: left;
}

#red2 p {
  font-size: 15px;
}

#display {
  margin:0 auto;
  text-align: center;
  height: 400px;
}

.btn{
  background-color: white;
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: light-blue;
}

#grand_total {
  font-size: 150px;
}

@font-face {
  font-family: externalFont;
  src: url(https://fonts.googleapis.com/css?family=Monoton);
}
