// Place all the styles related to the Days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ate_title {
  font-family: 'Galada', cursive;
}

#ate_today {
  width: 300px;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  font-family: Georgia;
  font-size: 20px;
}

#show_display {
  font-family: 'Galada';
  text-align: center;
  font-size: 30px;
}

.meal_form {
  text-align: center;
  font-size: 20px;
}

#add_meal {
  font-family: 'Galada', cursive;
  text-align: center;
}

.color-green {
  background-color: green;
}

.color-yellow {
  background-color: yellow;
}

.color-red {
  background-color: red;
}

#header {
  text-align: center;
  font-family: externalFont;
  color: white;
  background-color: #99b3ff;
  height: 100px;
  width: auto;
  margin: 0px;
}

.navbar{
  text-align: center;
}

#green {
  font-family: 'Galada', cursive;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  height: 100px;
  background-color: green;
  color: white;
}

#yellow {
  font-family: 'Galada', cursive;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  height: 100px;
  background-color: yellow;
  color: black;
}

#yellow a {
  color: black;
}

#red {
  font-family: 'Galada', cursive;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  height: 100px;
  background-color: red;
  color: white;
}

#green2 {
  // font-family: 'Galada', cursive;
  font-family: Georgia;
  font-size: 10px;
  line-height: 100px;
  text-align: center;
  height: 400px;
  background-color: green;
  color: white;
}

#green2 p {
  font-size: 15px;
}

.healthy {
  font-size: 15px;
  text-align: left;
}

#yellow2 p {
  font-size: 15px;
}


#yellow2 {
  // font-family: 'Galada', cursive;
  font-family: Georgia;
  font-size: 10px;
  line-height: 100px;
  text-align: center;
  height: 400px;
  background-color: yellow;
  color: black;
}

.good {
  font-size: 15px;
  text-align: left;
}

#red2 {
  // font-family: 'Galada', cursive;
  font-family: Georgia;
  font-family: Georgia;
  line-height: 100px;
  text-align: center;
  height: 400px;
  background-color: red;
  color: white;
}

.bad {
  font-size: 15px;
  text-align: left;
}

#red2 p {
  font-size: 15px;
}

#display {
  border: 1px white solid;
  margin:0 auto;
  text-align: center;
  height: 400px;
}

#display h1 {
    font-family: 'Galada', cursive;
    font-size: 30px;
}

.btn{
  text-decoration: none;
  background-color: white;
  color: white;
}

.btn:hover {
  background-color: light-blue;
}

#grand_total {
  font-size: 150px;
}

@font-face {
  font-family: externalFont;
  src: url(https://fonts.googleapis.com/css?family=Monoton);
}

.center_text {
  font-family: Georgia;
  text-align: center;
  font-size: 40px;
}

#login {
  text-align: center;
  font-size: 75px;
}

.btn {
  text-decoration: none;
  font-size: 20px;
  font-family: Verdana;
  color: black;
}
